***BOOK***

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import warnings

from keras.layers import Input, Embedding, Flatten, Dot, Dense
from keras.models import Model

warnings.filterwarnings('ignore')
%matplotlib inline

In [11]:
book=pd.read_csv('/content/book.csv',encoding='unicode_escape')

In [12]:
book

       user  ...  bookrating
0         1  ...           5
1         2  ...           3
2         3  ...           6
3         4  ...           8
4         5  ...           6
...     ...  ...         ...
9995   9996  ...           7
9996   9997  ...           9
9997   9998  ...           7
9998   9999  ...           8
9999  10000  ...           6

[10000 rows x 4 columns]

In [13]:
book.head()

   user  userid                                          booktitle  bookrating
0     1  276726                                Classical Mythology           5
1     2  276729                                       Clara Callan           3
2     3  276729                               Decision in Normandy           6
3     4  276736  Flu: The Story of the Great Influenza Pandemic...           8
4     5  276737                             The Mummies of Urumchi           6

In [14]:
book.shape

(10000, 4)

In [15]:
book[0:7]

   user  userid                                          booktitle  bookrating
0     1  276726                                Classical Mythology           5
1     2  276729                                       Clara Callan           3
2     3  276729                               Decision in Normandy           6
3     4  276736  Flu: The Story of the Great Influenza Pandemic...           8
4     5  276737                             The Mummies of Urumchi           6
5     6  276744                             The Kitchen God's Wife           7
6     7  276745  What If?: The World's Foremost Military Histor...          10

In [16]:
len(book.userid.unique())

2182

In [17]:
len(book.booktitle.unique())

9659

In [18]:
user_book = book.pivot(index='user',
                                 columns='booktitle',
                                 values='bookrating').reset_index(drop=True)

In [19]:
user_book

booktitle   Jason, Madison &amp  ...  Ã?Â?bermorgen.
0                           NaN  ...             NaN
1                           NaN  ...             NaN
2                           NaN  ...             NaN
3                           NaN  ...             NaN
4                           NaN  ...             NaN
...                         ...  ...             ...
9995                        NaN  ...             NaN
9996                        NaN  ...             NaN
9997                        NaN  ...             NaN
9998                        NaN  ...             NaN
9999                        NaN  ...             NaN

[10000 rows x 9659 columns]

In [21]:
user_book.index = book.user.unique()

In [22]:
user_book

booktitle   Jason, Madison &amp  ...  Ã?Â?bermorgen.
1                           NaN  ...             NaN
2                           NaN  ...             NaN
3                           NaN  ...             NaN
4                           NaN  ...             NaN
5                           NaN  ...             NaN
...                         ...  ...             ...
9996                        NaN  ...             NaN
9997                        NaN  ...             NaN
9998                        NaN  ...             NaN
9999                        NaN  ...             NaN
10000                       NaN  ...             NaN

[10000 rows x 9659 columns]

In [23]:
user_book.fillna(0, inplace=True)

In [24]:
user_book

booktitle   Jason, Madison &amp  ...  Ã?Â?bermorgen.
1                           0.0  ...             0.0
2                           0.0  ...             0.0
3                           0.0  ...             0.0
4                           0.0  ...             0.0
5                           0.0  ...             0.0
...                         ...  ...             ...
9996                        0.0  ...             0.0
9997                        0.0  ...             0.0
9998                        0.0  ...             0.0
9999                        0.0  ...             0.0
10000                       0.0  ...             0.0

[10000 rows x 9659 columns]

In [25]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [27]:
user_sim = 1 - pairwise_distances( user_book.values,metric='cosine')

In [28]:
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [29]:
user_sim_df = pd.DataFrame(user_sim)

In [31]:
user_sim_df.index = book.user.unique()
user_sim_df.columns = book.user.unique()

In [32]:
user_sim_df.iloc[0:6, 0:6]

     1    2    3    4    5    6
1  1.0  0.0  0.0  0.0  0.0  0.0
2  0.0  1.0  0.0  0.0  0.0  0.0
3  0.0  0.0  1.0  0.0  0.0  0.0
4  0.0  0.0  0.0  1.0  0.0  0.0
5  0.0  0.0  0.0  0.0  1.0  0.0
6  0.0  0.0  0.0  0.0  0.0  1.0

In [33]:
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:7, 0:7]

     1    2    3    4    5    6    7
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [34]:
user_sim_df.idxmax(axis=1)[0:8]

1       1
2       1
3       1
4       1
5       1
6    1430
7       1
8       1
dtype: int64

In [36]:
book[(book['user']==6) | (book['user']==160)]

     user  ...  bookrating
5       6  ...           7
159   160  ...           4

[2 rows x 4 columns]

In [42]:
user_1=book[book['user']==6]

In [43]:
user_2=book[book['user']==11]

In [45]:
user_2.bookrating

10    7
Name: bookrating, dtype: int64

In [46]:
user_1.booktitle

5    The Kitchen God's Wife
Name: booktitle, dtype: object

In [48]:
pd.merge(user_1,user_2,on='booktitle',how='outer')

   user_x  userid_x  ...  userid_y  bookrating_y
0     6.0  276744.0  ...       NaN           NaN
1     NaN       NaN  ...  276747.0           7.0

[2 rows x 7 columns]